<!DOCTYPE html>
<html lang="en" class="h-100">
<%- include('../partials/head') %>

    <body class="d-flex flex-column h-100">
        <!-- header -->
        <%- include('../partials/header') %>
            <!-- Content -->
            <div class="content my-5 mx-5">
                <div class="container-fluid">
                    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                        aria-label="breadcrumb" class="mt-5 pt-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active allCrumb cursor-pointer" aria-current="page"
                                data-breadcrumb='all'>All
                            </li>
                            <li class="breadcrumb-item festCrumb" data-breadcrumb='fest'>Festivals</li>
                            <li class="breadcrumb-item actCrumb cursor-pointer" data-breadcrumb='act'>Activities</li>
                        </ol>
                    </nav>
                    <div class="row mt-2 my-5" data-masonry='{"percentPosition": true }' id="imageContainer">
                        <% if (images.length>0) {%>
                            <% images.forEach((image,index)=> { let num = index+=1%>
                                <div class="col-xl-3 col-lg-4  col-md-6 col-12 mb-4 mb-lg-2 mb-2 text-center imgViewSet"
                                    data-imgSet="<%= image %>">
                                    <img src="/statics/Assets/images/gallery/<%= image %>"
                                        onclick="openModal();currentSlide( <%= num  %> )"
                                        class="hover-shadow border border-5 rounded-1 img-fluid">
                                </div>

                                <% }) %>
                                    <% } %>
                                    <div class="grid-sizer"></div>
                                        <!-- <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="/statics/Assets/images/gallery/183173833_249038323633770_3505761970057880829_n.jpg"
                                onclick="openModal();currentSlide(2)" class="hover-shadow " style="height: 321px; width: 321px;">
                        </div>
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="/statics/Assets/images/gallery/184804344_253779773159625_7371643443604780405_n.jpg"
                                onclick="openModal();currentSlide(3)" class="hover-shadow ">
                        </div>
                        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                            <img src="/statics/Assets/images/gallery/185664882_251690040035265_8755463854842298229_n.jpg"
                                onclick="openModal();currentSlide(4)" class="hover-shadow ">
                        </div> -->
                    </div>

                    <!-- The Modal/Lightbox -->
                    <div id="myModal" class="modal mt-5">
                        <span class="close cursor mt-5 pt-5" onclick="closeModal()">&times;</span>
                        <div class="modal-content mt-5">
                            <div class="slideContainerGallery">
                                <% if (images.length>0) {%>
                                    <% images.forEach((image,index)=> { let num = index+=1%>
                                        <div class="mySlides">
                                            <div class="numbertext">
                                                <%= num %> / <%= images.length%>
                                            </div>
                                            <img src="/statics/Assets/images/gallery/<%= image %> " style="width:100%">
                                        </div>

                                        <% }) %>
                                            <% } %>

                                                <!-- Next/previous controls -->
                                                <a class="prev" onclick="plusSlides(-1)"
                                                    style="text-decoration: none;">&#10094;</a>
                                                <a class="next" onclick="plusSlides(1)"
                                                    style="text-decoration: none;">&#10095;</a>
                            </div>


                            <!-- Caption text -->
                            <div class="caption-container">
                                <p id="caption"></p>
                            </div>
                            <div class="thumnailContainerGallery">
                                <% if (images.length>0) {%>
                                    <% images.forEach((image,index)=> { let num = index+=1%>

                                        <!-- Thumbnail image controls -->
                                        <div class="column my-1">
                                            <img class="demo" src="/statics/Assets/images/gallery/<%= image %> "
                                                onclick="currentSlide(<%= num %>)" alt="<%= image %>">
                                        </div>

                                        <% }) %>
                                            <% } %>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            </div>
            <!-- footer -->
            <%- include('../partials/footer') %>

                <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
                    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
                    crossorigin="anonymous" async></script>
                <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
                <script src="/statics/js/gallery.js"></script>



    </body>

</html>