<!DOCTYPE html>
<html lang="en" class="h-100 vw-100">
<%- include('./partials/head') %>

    <body class="d-flex flex-column h-100">
        <!-- header -->
        <%- include('./partials/header') %>
            <!-- Content -->
            <div class="fest-content my-5 py-5 mx-5">
                <div class="container-fluid my-5 p-5 festives">
                    <div class="festives">
                        <h3 class="display-3 fw-50 text-center festName fest_header" style="">
                            <%= festival.title %>
                        </h3>

                        <div class="blog-content mt-5">
                            <% if(festival.content !=='' ) {%>

                                <% festival.imagespath.forEach( (festImage)=> {%>
                                    <img src="/statics<%=festImage%>" class=" hover-shadow festival-image"
                                        alt=" <%= festival.title %>">
                                    <% }) %>
                                        <p>
                                            <%= festival.content %>
                                        </p>
                                        <% }else{ %>
                                            <div class="row" style="display: flex;
                                                        justify-content: center;
                                                        margin: auto;">
                                                <% festival.imagespath.forEach( (img)=> { %>
                                                    <div class="col-xl-3 col-lg-4  col-md-6 col-12 m-2 max-m-5 m-auto vw-100">
                                                        <img src="/statics<%= img %>"
                                                            class=" hover-shadow festival-imageNotice festival-imageNotice-single <text-center></text-center>  mx-auto d-block "
                                                            alt="<%= festival.title %>" />
                                                    </div>
                                                    <% }) %>
                                                        <p></p>
                                            </div>
                                            <% } %>

                        </div>
                    </div>

                </div>
            </div>
            </div>
            <!-- footer -->
            <%- include('./partials/footer') %>

    </body>

</html>