<!doctype html>
<html lang="en" class="h-100">

<%- include('./partials/head') %>

    <body class="d-flex flex-column h-100 mx-xl-5 mx-sm-1">

        <%- include('./partials/header') %>
            <!-- './partials/header_copy' -->



            <!-- Content Section -->
            <section class="content mt-5 ">
                <section class="container-fluid">

                    <!-- Donation -->

                    <section class="donate mt-5 mb-3" id="donate">

                        <!-- carousel -->

                        <%- include('./partials/carousel') %>

                            <!-- carousel end-->

                            <!-- Message banner -->
                            <div class="msgBanner-bg-text my-2 rounded-top rounded-bottom">
                                <div class="container py-2 py-lg-5 py-md-1 py-sm-1 py-xs-1">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="h3 fw-bold fs-6 d-block d-sm-none d-md-none">We request you to
                                                Join
                                                our hands to support this initiative for keeping<br> this
                                                distribution
                                                enduring.</h3>
                                            <h3 class="h3 fw-bold d-none d-sm-block d-md-block">We request you to Join
                                                our
                                                hands to support this initiative for keeping<br> this
                                                distribution
                                                enduring.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Message banner end-->


                            <!-- donation section -->

                            <section class="donateNow mt-3">
                                <div class="container-fluid my-5 px-2">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12 py-md-5 py-3 h-100">

                                            <div class="row gx-5 donateNowSec">
                                                <div class="col-md-6 col-sm-6 col-xs-12 pt-1 pt-md-5">
                                                    <div class="new-block-custom">
                                                        <h4 class="sec-head">Donate 50 Meals.</h4>
                                                        <h3 class="sec-head"><span>₹ 1,000</span></h3>
                                                        <a href="upi://pay?pa=119069632036725@cnrb&pn=SRI%20RADHA%20NEELAMADHAV%20SATSANG&mc=4722&tr=1234567887654321&tn=Pay%20to%20Merchant&am=0&mam=0&cu=INR&refUrl=http://npci.org/upi/schema/"
                                                            target="_blank"
                                                            class="btn btn-primary btn-sm <% if(device=='desktop'){ %> donateNow-btn<% } %>">Donate
                                                            Now</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 pt-1 pt-md-5">
                                                    <div class="new-block-custom">
                                                        <h4 class="sec-head">Donate 100 Meals</h4>
                                                        <h3 class="sec-head"><span>₹ 2,000</span></h3>
                                                        <a href="#" target="_blank"
                                                            class="btn btn-primary btn-sm <% if(device=='desktop'){ %> donateNow-btn<% } %> ">Donate
                                                            Now</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-12 py-1 py-md-5">
                                                    <div class="new-block-custom">
                                                        <h4 class="sec-head">Donate 250 Meals</h4>
                                                        <h3 class="sec-head"><span>₹ 5,000</span></h3>
                                                        <a href="#" target="_blank"
                                                            class="btn btn-primary btn-sm <% if(device=='desktop'){ %> donateNow-btn<% } %>">Donate
                                                            Now</a>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 py-1 py-md-5">
                                                    <div class="new-block-custom">
                                                        <h4 class="sec-head">Donate 500 Meals</h4>
                                                        <h3 class="sec-head"><span>₹ 10,000</span></h3>
                                                        <a href="#" target="_blank"
                                                            class="btn btn-primary btn-sm <% if(device=='desktop'){ %> donateNow-btn<% } %>">Donate
                                                            Now</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                                            <div class="row ms-md-5 ms-sm-1">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="footer-content">

                                                        <div class="footer-head">
                                                            <div
                                                                class="footer-logo donationbank d-md-flex justify-content-center">
                                                                <h5><b>Donation Through Bank (NEFT/ RTGS)</b></h5>
                                                            </div>
                                                            <p><b>Bank Name - Canara Bank</b><br>
                                                                <b>Account Name - <span id="acname1">Sri Radha Neela
                                                                        Madhav
                                                                        Satsang</span></b>
                                                                <button class="btn btn-sm btncstm"
                                                                    onclick="copy2clpbd('#acname1');">Copy</button>
                                                                <br>
                                                                <b> Account Number – <span
                                                                        id="acnum1">0820101036725</span></b>
                                                                <button class="btn btn-sm btncstm"
                                                                    onclick="copy2clpbd('#acnum1');">Copy</button>
                                                                <br>
                                                                <b>IFSC Code - <span id="ifsc1">CNRB0000820</span></b>
                                                                <button class="btn btn-sm btncstm"
                                                                    onclick="copy2clpbd('#ifsc1');">Copy</button>
                                                            </p>
                                                            </p>
                                                            <div class="mt-5 mb-auto d-flex justify-content-center">
                                                                <img src="/statics/Assets/images/paymentBlue.png" alt=""
                                                                    width="250" height="250">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End col-->
                                    </div>
                                    <div class="qrModel container mt-5" style="z-index: 2;">
                                        <!-- The Modal -->
                                        <div id="myModal" class="modal-donatenow">

                                            <!-- The Close Button -->
                                            <span class="close-donatenow mt-5 pt-5">&times;</span>

                                            <!-- Modal Content (The Image) -->
                                            <img class="modal-content-donatenow mt-5" id="img01"
                                                src="/statics/Assets/images/paymentBlue.png">

                                            <!-- Modal Caption (Image Text) -->
                                            <div id="caption-donatenow"></div>
                                        </div>
                                    </div>
                                </div>
                            </section>

                            <!-- donation section end-->

                            <!-- Message banner -->

                            <div class="black-bg-text rounded-top rounded-bottom text-center">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="h3 fw-bold fs-6 d-block d-sm-none d-md-none">Gentle Request!
                                                While
                                                doing Paytm or Bank (NEFT/ RTGS) please send us <br>
                                                screen shot on our Whatsapp No- <a
                                                    href="https://api.whatsapp.com/send?phone=9599460493">-Iskcon
                                                    whatsapp
                                                    number-</a>
                                                You may also call on this<br> no for other
                                                queries</h3>
                                            <h3 class="h3 fw-bold d-none d-sm-block d-md-block fs-5">Gentle Request!
                                                While
                                                doing Paytm or Bank (NEFT/ RTGS) please send us <br>
                                                screen shot on our Whatsapp No- <a
                                                    href="https://api.whatsapp.com/send?phone=9599460493">-Iskcon
                                                    whatsapp
                                                    number-</a>
                                                You may also call on this<br> no for other
                                                queries</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Message banner end-->


                    </section>

                    <!-- Gallery -->

                    <section id="ISKCONgallery" class="ISKCONgallery">
                        <!-- Gallery -->
                        <section class="container-fluid">
                            <div class="row pt-2">
                                <h3 class="text-white text-center my-3">Social Media Gallery</h3>
                                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                                    <img src="/statics/Assets/images/gallery/182108865_249683510235918_7731738080269524878_n.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                                    <img src="/statics/Assets/images/gallery/183173833_249038323633770_3505761970057880829_n.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                                </div>

                                <div class="col-lg-4 mb-4 mb-lg-0">
                                    <img src="/statics/Assets/images/gallery/183845223_253779636492972_3097184844362049920_n.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                                    <img src="/statics/Assets/images/gallery/184107102_253779716492964_5292810347535989073_n.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                                </div>

                                <div class="col-lg-4 mb-4 mb-lg-0">
                                    <img src="/statics/Assets/images/gallery/184804344_253779773159625_7371643443604780405_n.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                                    <img src="/statics/Assets/images/gallery/185664882_251690040035265_8755463854842298229_n.jpg"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                                </div>
                            </div>
                        </section>
                        <!-- Gallery -->
                    </section>

                    <!-- Gallery end-->


                    <!-- About us -->


                    <%- include('./partials/aboutus') %>



                </section>
            </section>








            <a href="#donate" class="donateLink" id="">Contribute Now</a>
            <a href="#" class="back-to-top"><i class="fa fa-chevron-up" data-bs-toggle="tooltip"
                    data-bs-placement="left" data-bs-title="Back to top!!"></i></a>

            <!-- Footer -->

            <%- include('./partials/footer') %>



                <!-- <script src="/statics/js/sandbox.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script> -->
    </body>

</html>